<div>
    <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{info.fullName}}</span>
                <span class="md-subhead">{{info.username}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>
                {{info.address}}
            </p>
            <p>
                {{info.email}}
            </p>
            <p>
                {{info.phone}}
            </p>
        </md-card-content>
    </md-card>
</div>