md-sidenav > md-content  md-input-container {
	margin-bottom: -30px;
}

.md-headline {
	text-align: center;
}

.md-subhead {
	text-align: center;
}

.profile-img {
	width: 100px;
	margin-bottom: 10px;
}

.md_toolbar md-input-container .md-errors-spacer{
  min-height: 0px !important;
}
