<form name="edit_form" ng-submit="edit_form.$valid && editStuff()" novalidate autocomplete="off" ng-cloak>
    <div layout="row">
        <md-input-container class="md-block" flex="50">
            <label>Name</label>
            <md-icon ng-bind="'assignment'"></md-icon>
            <input type="text" name="name" ng-model="edit.name" ng-required="true" minlength="5  " maxlength="50">
            <div ng-messages="edit_form.name.$error" role="alert">
                <div ng-message="required">Name is required</div>
                <div ng-message="minlength">Name is too short</div>
                <div ng-message="maxlength">Name is too long</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block" flex="25">
            <label>Cost (USD)</label>
            <md-icon ng-bind="'attach_money'"></md-icon>
            <input type="number" name="number" ng-model="edit.cost" ng-required="true">
            <div ng-messages="edit_form.name.$error" role="alert">
                <div ng-message="required">Cost is required</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block" flex="25">
            <label>Type</label>
            <md-icon ng-bind="'list'"></md-icon>
            <md-select ng-model="edit.stufftype" name="type" ng-required="true">
                <md-option ng-repeat="type in types" value="{{type}}">
                    {{type}}
                </md-option>
            </md-select>
            <div ng-messages="edit_form.type.$error" role="alert">
                <div ng-message="required">Type is required</div>
            </div>
        </md-input-container>
    </div>
    <md-input-container class="md-block">
        <label>Desctiption</label>
        <textarea ng-model="edit.description" name="description" md-maxlength="255" maxlength="255" rows="3" md-select-on-focus></textarea>
    </md-input-container>

    <section layout="row">
        <md-button type="submit" class="md-raised">
            <md-icon ng-bind="'done'"></md-icon>
            Edit stuff
        </md-button>
    </section>
</form>