<md-list flex ng-show="!orders.length">
    <md-subheader class="md-no-sticky">There is no orders in your site :c</md-subheader>
</md-list>
<md-card ng-repeat="order in orders.slice().reverse()">
    <md-card-content>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{order.user.fullName}}</span>
                <span class="md-subhead">{{order.user.username}}</span>
            </md-card-title-text>
        </md-card-title>
        <span ng-class="{'status-critical': order.status == 'Awaiting payment' || order.status == 'Canceled', 'status-warn': order.status == 'Processing', 'status-success': order.status == 'Finished'}">{{order.status}} <span ng-show="order.statusComment">- </span>{{order.statusComment}}</span>
        <span ng-show="order.status=='Awaiting payment'">({{order.sum}} $)</span>
        <md-list flex>
            <md-list-item class="md-3-line" ng-repeat="item in order.stuff.slice().reverse()" ui-sref="app.stuff.details({stuffId: item.item._id, backAction: 'app.orders'})">

                <img ng-src="http://localhost:3000/stuff/image/{{item.item.image}}" class="md-avatar" />
                <div class="md-list-item-text" layout="column">
                    <h3>{{ item.item.name }}</h3>
                    <h4>{{ item.item.stufftype }}</h4>
                    <p>{{ item.item.cost }} $ x {{item.count}} = {{(item.item.cost * item.count).toFixed(2)}} $</p>
                </div>
            </md-list-item>
        </md-list>
        <md-input-container class="md-block" ng-show="order.status == 'Processing'">
            <md-icon ng-bind="'comment'"></md-icon>
            <input ng-model="status_comment" type="text" placeholder="Status comment">
        </md-input-container>
        <p>{{order.comment}}</p>
    </md-card-content>
    <md-card-actions layout="row" layout-align="start center" >
            <md-button ng-show="order.status == 'Processing'" class = "md-raised md-primary" ng-click="finish(order._id, status_comment)">
                <md-icon ng-bind="'done'"></md-icon>
                Finish
            </md-button>
            <md-button ng-show="order.status == 'Processing'" class = "md-raised md-warn" ng-click="cancel(order._id, status_comment)">
                <md-icon ng-bind="'clear'"></md-icon>
                Cancel
            </md-button>
        <md-button class = "md-raised md-warn" ng-click="delete(order._id)">
            <md-icon ng-bind="'delete'"></md-icon>
            Delete
        </md-button>
    </md-card-actions>


</md-card>