<md-list flex ng-show="!orders.length">
    <md-subheader class="md-no-sticky">There is no orders in your history</md-subheader>
</md-list>
<md-card ng-repeat="order in orders.slice().reverse()">
    <md-card-content>
        <span ng-class="{'status-critical': order.status == 'Awaiting payment' || order.status == 'Canceled', 'status-warn': order.status == 'Processing', 'status-success': order.status == 'Finished'}">{{order.status}}</span>
        <span ng-show="order.status=='Awaiting payment'">({{order.sum}} $)</span>
        <md-list flex>
            <md-list-item class="md-3-line" ng-repeat="item in order.stuff.slice().reverse()" ui-sref="app.stuff.details({stuffId: item.item._id, backAction: 'app.orders'})">

                <img ng-src="http://localhost:3000/stuff/image/{{item.item.image}}" class="md-avatar" />
                <div class="md-list-item-text" layout="column">
                    <h3>{{ item.item.name }}</h3>
                    <h4>{{ item.item.stufftype }}</h4>
                    <p>{{ item.item.cost }} $ x {{item.count}} = {{(item.item.cost * item.count).toFixed(2)}} $</p>
                </div>
            </md-list-item>
        </md-list>

    </md-card-content>
        <md-card-actions layout="row" layout-align="start center" ng-show="order.status=='Awaiting payment'">
            <md-button ng-click="pay(order._id)">
                <md-icon ng-bind="'payment'"></md-icon>
                Pay
            </md-button>
        </md-card-actions>

</md-card>